<div class="user-details">
</div>
<div class="user">
  <div class="tech">
    <h2>Teaching</h2>
    <p>I currently teach Quantitative Analysis, Environmental Chemistry, and General Chemistry.</p>
  </div>
  <div class="tech">
    <h2>Research</h2>
    <p>My research focuses on the air quality of indoor and outdoor environments, with a particular focus on organic aerosol.</p>
  </div>
  <div class="tech">
    <h2>CV</h2>
    <p><a href=assets\Pagonis_CV.pdf>Available here</a> </p>
  </div>
</div>
